*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
body{
	background-color: #B0B0B0 ;
	color: #404040;
}
header{
	margin-top: 20px;
	width: 100%;
	text-align: center;
	height: 80px;
	border-top: solid gray 2px;
	border-bottom: solid gray 2px;
	font-size: 48px;
	font-weight: bold;
	padding-top: 20px;
	color: #dc1a22;
}
a{
	color:#dc1a22;
}
hr{
	border:solid #B0B0B0 2px;
}
.logo{
	position: absolute;
	left:25px;
	height: 100px;
}
nav{
	text-align: center;
}
nav ul{
	list-style-type: none;
	font-size: 0;
}
nav li{
	display: inline;
	border:2px solid gray;
	font-size: 16px;
}
nav a{
	padding-left: 5px;
	padding-right: 5px;
	color:#dc1a22;
	transition: background-color .5s ease;
}
nav a:hover{
	background-color: gray;
}
h1{
	color:#dc1a22;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 36px;
}
.tblGenFixed td {
	padding:0 3px;
	overflow:hidden;
	white-space:normal;
	letter-spacing:0;
	word-spacing:0;
	background-color:#fff;
	z-index:1;
	border-top:0px none;
	border-left:0px none;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
} 
.dn {
	display:none
} 
.tblGenFixed td.s0 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-top:1px solid #CCC;
	border-right:;
	border-bottom:;
	border-left:1px solid #CCC;
} 
.tblGenFixed td.s2 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-top:1px solid #CCC;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s1 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	vertical-align:bottom;
	direction:auto-ltr;
	white-space:nowrap;
	overflow:hidden;
	border-top:1px solid #CCC;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s9 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	vertical-align:bottom;
	direction:auto-ltr;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s12 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s13 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s7 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	vertical-align:bottom;
	direction:auto-ltr;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s14 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:auto-ltr;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s8 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s5 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:auto-ltr;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s6 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
	border-left:1px solid #CCC;
}
.tblGenFixed td.s10 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s3 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
	border-left:1px solid #CCC;
} 
.tblGenFixed td.s11 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:normal;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td.s4 {
	background-color:white;
	font-family:verdana;
	font-size:100.0%;
	font-weight:bold;
	font-style:normal;
	color:#000000;
	text-decoration:none;
	vertical-align:bottom;
	direction:Context;
	white-space:nowrap;
	overflow:hidden;
	border-right:;
	border-bottom:;
} 
.tblGenFixed td:nth-child(even), .tblGenFixed td:nth-child(odd){
	background-color: #404040;
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	padding: 8px 20px;
	font-family: 'Lato', sans-serif;
}
table{
	margin: 10px auto;
}
@media screen and (max-width: 825px){
	.logo{
		display: none;
	}
	header{
		font-size: 36px;
	}
}